*{
    padding:0;
    margin: 5
    ;
}

header{

    background-color:ghostwhite(207, 207, 207);
    color: rgb(31, 27, 27);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }
    .cabeçalho-imagem{
        width: 40%;
    }
    
        .texto-um{
            margin: 10px;
            font-size: 25px;
        }
        .texto-dois{
            margin: 10px;
            font-size: 25px;
        }
        .cabeçalho-item{
            background-color: black;
        }
    
.cabeçalho-lista-item{
    font-size: 40px;
}